# Data analysis
## Developed by *Kaustubh Joshi*

The data used in this notebook is taken from Kaggle. It is HR department data listing employee satisfaction level, evaluation result, number of years worked, monthy working hours etc.. Using this dataset we will create some interesting factfinding and predicting. Let start !

## Basic to do list

Did you specify the type of data analytic question (e.g. exploration, association causality) before touching the data?
    1. How satisfaction level is influenced by the other factors
    2. Department wise analysis of satisfaction levels
    3. How salary levels are influeced
    4. Create a model predicting if employee will leave the company
    
Did you define the metric for success before beginning?
    1. Logical reasoning shall match
    2. Logical reasoning shall match
    3. Logical reasoning shall match
    4. 90% accuracy
    
Did you understand the context for the question and the scientific or business application?
    
    The HR department has provided us the employee data and has asked us to provide interesting insights into the data   
    especially regarding the employee leaving the company
    
Did you record the experimental design?
    
    Dataset is available
    
Did you consider whether the question could be answered with the available data?
    
    Dataset consists of the 15000 records. So question shall be answered failry well

# Lets start analysis

The dataset is a .csv file which will be read using panda library. Below section will check basic data validity

In [4]:
import pandas as pd

employee_data = pd.read_csv('D:\LocalHome\joshik\Downloads\HR_comma_sep.csv')
employee_data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

Below section will give data disctribution overview

In [6]:
employee_data.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

From above table data seems to be in good condition. The Record count is similar for all the columns. Also the max and min values seems plausible.

In [10]:
employee_data['sales'][1]

'sales'